<ol>
<li><b>check headers</b></li>
<li><b>remove empty rows</b></li>
<li><b>remove duplicates</b></li>
<li><b></b></li>
<li><b></b></li>
<li><b></b></li>
<li><b></b></li>
<li><b></b></li>
</ol>

In [ ]:
import pandas as pd
import numpy as np

In [136]:
a = pd.read_csv("student_details.csv", na_filter= True)
a

,E-mail,Password,First name,Last name,Roll_no,Department,Semester,Division,Practical Batch,Lacture Batch
0,a@a.com,horarium,b,b,1,CSE,Sem-1,A,11,NaN
1,b@b.com,horarium,c,c,2,CSE,Sem-1,A,11,NaN
2,c@c.com,horarium,d,d,3,CSE,NaN,A,11,NaN
3,e@e.com,NaN,e,e,4,CSE,Sem-1,A,11,NaN
4,NaN,horarium,f,f,5,CSE,Sem-1,A,11,NaN
5,c@c.com,horarium,f,f,6,CSE,Sem-2,A,11,NaN
6,e@e.com,horarium,f,f,7,CSE,Sem-3,A,11,NaN
7,e@e.com,horarium,f,f,7,CSE,Sem-3,A,11,NaN

read the csv

In [ ]:
print(a.dropna(how='all', inplace=True)) # removes the empty rows
a

remove the empty rows in the ds

In [ ]:
{'E-mail','Password','First name','Last name','Department','Semester','Division','Practical Batch','Lacture Batch'
} == set(a.head(0))

check all the headders of the csv

In [ ]:
b = a[['E-mail','Password','First name','Last name','Department','Semester','Division']].isnull().any()
# returns df of all the columns if any have empty 
print(b)
b.any()
# returns the bool if any is null

returns true if any of the rows having following cells have empty value
else it returns false

In [ ]:
# a.loc[pd.isna(a[["Password","E-mail"]]), :]
arr = np.where(a[["Password","E-mail"]].isna())[0]
for i in arr:
    print(type(a.loc[i].to_frame()))
    print((a.loc[i].to_frame().to_json(orient="columns"))) # get json of the rows having the following items empty

returns the index of rows having empty cells

In [142]:
a.loc[pd.isna(a["Password"]) or pd.isna(a["E-mail"]).any(), :].to_json(orient="index")
# doesn't work well - enough

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
c = a.dropna(subset=['E-mail','Password'])#,inplace = True) # remove all the vals having empty cells
# use inplace for changing the original else return the changed
c

In [ ]:
b = a.isnull().any()
# b.any()
b

for checking if any of the rows have any empty cols

In [125]:
a.fillna(0, inplace = True) # replace nan with something
a

,E-mail,Password,First name,Last name,Roll_no,Department,Semester,Division,Practical Batch,Lacture Batch
0,a@a.com,horarium,b,b,1,CSE,Sem-1,A,11,0.0
1,b@b.com,horarium,c,c,2,CSE,Sem-1,A,11,0.0
2,c@c.com,horarium,d,d,3,CSE,0,A,11,0.0
3,e@e.com,0,e,e,4,CSE,Sem-1,A,11,0.0
4,0,horarium,f,f,5,CSE,Sem-1,A,11,0.0
5,c@c.com,horarium,f,f,6,CSE,Sem-2,A,11,0.0
6,e@e.com,horarium,f,f,7,CSE,Sem-3,A,11,0.0
7,e@e.com,horarium,f,f,7,CSE,Sem-3,A,11,0.0

In [ ]:
import numpy as np
for i in a.iterrows():
    print(i)

Iterate the ds for any reasons

In [ ]:
duplicate_emails = a[a.duplicated(['E-mail'])]

get any duplicates and get the data set

In [133]:
a[a.duplicated(['E-mail'])].to_json(orient="index")

'{"5":{"E-mail":"c@c.com","Password":"horarium","First name":"f","Last name":"f","Roll_no":6,"Department":"CSE","Semester":"Sem-2","Division":"A","Practical Batch":11,"Lacture Batch":0.0},"6":{"E-mail":"e@e.com","Password":"horarium","First name":"f","Last name":"f","Roll_no":7,"Department":"CSE","Semester":"Sem-3","Division":"A","Practical Batch":11,"Lacture Batch":0.0},"7":{"E-mail":"e@e.com","Password":"horarium","First name":"f","Last name":"f","Roll_no":7,"Department":"CSE","Semester":"Sem-3","Division":"A","Practical Batch":11,"Lacture Batch":0.0}}'

get an array of index of email duplicates in the ds

In [ ]:
a['E-mail'].tolist()

get a list of all the cells of a ds for qs

In [ ]:
a.drop_duplicates()

drop the duplicate rows in the ds 
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html#pandas-dataframe-drop-duplicates

In [ ]:
a