<ol>
    <li><b>remove empty rows</b></li>
    <li><b>remove duplicates</b></li>
    <li><b>check headers</b></li>
    <li><b>User Details</b></li>
    <li><b>Student Details</b></li>
    <li><b>Check Email duplications(internal)</b></li>
    <li><b>Check Email duplications(external)</b></li>
    <li><b>Check other details(Deartment,Branch,)</b></li>
    <li><b></b></li>
    <li><b></b></li>
    <li><b></b></li>
</ol>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
a = pd.read_csv("student_details.csv", na_filter= True)
a

read the csv

In [ ]:
print(a.dropna(how='all', inplace=True)) # removes the empty rows
a

remove the empty rows in the ds

In [ ]:
{'E-mail','Password','First name','Last name','Department','Semester','Division','Practical Batch','Lacture Batch'
} == set(a.head(0))

check all the headders of the csv

In [ ]:
b = a[['E-mail','Password','First name','Last name','Department','Semester','Division']].isnull().any()
# returns df of all the columns if any have empty 
print(b)
b.any()
# returns the bool if any is null

returns true if any of the rows having following cells have empty value
else it returns false

In [ ]:
# a.loc[pd.isna(a[["Password","E-mail"]]), :]
arr = np.where(a[["Password","E-mail"]].isna())[0]
for i in arr:
    print(type(a.loc[i].to_frame()))
    print((a.loc[i].to_frame().to_json(orient="columns"))) # get json of the rows having the following items empty

returns the index of rows having empty cells

In [ ]:
a.sort_values("E-mail")

sorting according to one column

In [ ]:
a.loc[pd.isna(a["Password"]) | pd.isna(a["E-mail"]) | pd.isna(a["First name"]) | pd.isna(a["Last name"]) , :]#.to_html()

if you want different type of json then the one in simple list for user and student details function
<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>E-mail</th>\n      <th>Password</th>\n      <th>First name</th>\n      <th>Last name</th>\n      <th>Roll_no</th>\n      <th>Department</th>\n      <th>Semester</th>\n      <th>Branch</th>\n      <th>Division</th>\n      <th>Practical Batch</th>\n      <th>Lecture Batch</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>2</th>\n      <td>NaN</td>\n      <td>horarium</td>\n      <td>c</td>\n      <td>c</td>\n      <td>3</td>\n      <td>CSE</td>\n      <td>Sem-1</td>\n      <td>B.TECH</td>\n      <td>A</td>\n      <td>11</td>\n      <td>NaN</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>d@d.com</td>\n      <td>NaN</td>\n      <td>d</td>\n      <td>d</td>\n      <td>4</td>\n      <td>CSE</td>\n      <td>NaN</td>\n      <td>B.TECH</td>\n      <td>A</td>\n      <td>11</td>\n      <td>NaN</td>\n    </tr>\n  </tbody>\n</table>

In [ ]:
c = a.dropna(subset=['E-mail','Password'],)#,inplace = True) # remove all the vals having empty cells
# use inplace for changing the original else return the changed
c

In [ ]:
b = a.isnull().any()
# b.any()
b

for checking if any of the rows have any empty cols

In [ ]:
a.fillna(0, inplace = True) # replace nan with something
a

In [ ]:
# a[a['E-mail'] == "a@a.com"].to_json(orient="index")
a[a['E-mail'] == "a@a.com"].to_html(header=False)
# a[a['E-mail'].isin(["a@a.com"])]

filter using columns or by using an array
<table border="1" class="dataframe">\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>a@a.com</td>\n      <td>horarium</td>\n      <td>a</td>\n      <td>a</td>\n      <td>1</td>\n      <td>CSE</td>\n      <td>Sem-1</td>\n      <td>B.TECH</td>\n      <td>A</td>\n      <td>11</td>\n      <td>12.0</td>\n    </tr>\n  </tbody>\n</table>

In [93]:
# import numpy as np
df1 = pd.DataFrame()
# print(a)
# print(df1.append(a, ignore_index = True))
for i,row in a.iterrows():
#     print(pd.isna(a['Lecture Batch'])[i])
    if not pd.isna(a['Lecture Batch'])[i]:
        df1 = df1.append(row)
        print("here")
    else:
#         print("asdadasda")
        pass
print(df1)

here
   Branch Department Division   E-mail First name Last name  Lecture Batch  \
0  B.TECH        CSE        A  a@a.com          a         a           12.0

   Password  Practical Batch  Roll_no Semester
0  horarium             11.0      1.0    Sem-1

Iterate the ds for any reasons

In [ ]:
a[a.duplicated(['E-mail'],keep=False)].to_html()

get any duplicates and get the data set

In [ ]:
# a[a.duplicated(['E-mail'],keep=False)].to_dict(orient="index")
a[a.duplicated(['E-mail'],keep=False)].empty
# .to_json(orient="index")

get an array of index of email duplicates in the ds

In [ ]:
a['E-mail'].tolist()

get a list of all the cells of a ds for qs

In [ ]:
a.drop_duplicates()

drop the duplicate rows in the ds 
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html#pandas-dataframe-drop-duplicates

In [ ]:
COLUMN_NAMES=['E-mail','Password','First name','Last name','Roll_no','Department','Semester',"Branch",'Division','Practical Batch','Lacture Batch']
df = pd.DataFrame(columns=COLUMN_NAMES)
# df.append(["asd","asd","asd","asd","asd","asd","asd","asd","asd","asd","asd","asd"])
dict1 = {}
# get input row in dictionary format
# key = col_name
dict1.update() 

rows_list.append(dict1)